<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Meu Projeto</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/VeiculosCadastro">CadastrarVeiculo</a></li>
      <li><a href="/BuscarVeiculos">BuscarVeiculo</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

  <main>
    {{{body}}}
  </main>
</body>
</html>
