<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Meu Projeto</title>
</head>
<body>
  <na>
    <a>asvYT IHDUZSDNCXKUXSDKF  </a>
    <a>asvYT IHDUZSDNCXKUXSDKF  </a>
    <a>asvYT IHDUZSDNCXKUXSDKF  </a>
    <a>asvYT IHDUZSDNCXKUXSDKF  </a>
    <a>asvYT IHDUZSDNCXKUXSDKF  </a>
    <a>asvYT IHDUZSDNCXKUXSDKF  </a>
  </na>
  <main>
  {{{body}}}
  </main>
</body>
</html>


