<h1>Cadastro de Veículo</h1>

<form action="/veiculos/cadastro" method="POST">
  <label for="modelo">Modelo:</label>
  <input type="text" id="modelo" name="modelo" required>

  <label for="marca">Marca:</label>
  <input type="text" id="marca" name="marca" required>

  <button type="submit">Cadastrar</button>
</form>
