const express = require('express');
const expHandlebars = require('express-handlebars');
const app = express();

// Configura o Handlebars como engine
app.engine('handlebars', expHandlebars.engine());
app.set('view engine', 'handlebars');

// Rota para página inicial
app.get("/", (req, res) => {
    res.render("home");
});

// Objeto de usuário logado (exemplo de uso futuro)
const usuarioLogado = {
    nome: "João",
    email: "joao@gmail.com",
};

// Rota para página de usuários
app.get("/usuarios", (req, res) => {
    res.render("usuarios");
});

// Rota para página de contatos
app.get("/contatos", (req, res) => {
    res.render("contatos");
});

// Inicializa o servidor
app.listen(3000, () => {
    console.log("Servidor rodando em http://localhost:3000");
});

const express = require("express");
const app = express();
const exphbs = require("express-handlebars");

app.engine("handlebars", exphbs.engine());
app.set("view engine", "handlebars");

const usuarioLogado = {
  nome: "João",
  email: "joao@gmail.com"
};

app.get("/usuarios", (req, res) => {
  res.render("usuarios", { usuarioLogado });
});

app.get("/contatos", (req, res) => {
  res.render("contatos");
});

app.listen(8000, (err) => {
  console.log("Servidor rodando!");
});

app.use(express.static("public"));


{{! Print de valores }}
<p>Bem-vindo(a), {{usuarioLogado.nome}}!</p>
<h1>Lista de Usuários</h1>
<h1>Usuários Cadastrados</h1>


